<h1 i18n mat-dialog-title>Edit Plate</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label i18n>Plate Number</mat-label>
        <input matInput [(ngModel)]="plateNumber" required [disabled]="isSaving">
    </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions align="end" i18n-align>
    <button i18n mat-raised-button (click)="onCancel()" [disabled]="isSaving">Cancel</button>
    <button i18n mat-raised-button (click)="onSave()" cdkFocusInitial color="primary" [disabled]="isSaving">
        @if (isSaving) {
            <mat-spinner diameter="20" />
        } @else {
            Save
        }
    </button>
</div>