.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content:flex-start;
    margin: 0px;
  }
  
  .item {
    flex-grow: 1;
  }
  
  .item {
    margin-top: 15px;
  }

  .alert {
    background-color: #FFEB3B;
  }

  .ignore {
    background-color: #9E9E9E
  } 