.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content:flex-start;
  margin: 0px;
}

.item {
  flex-grow: 1;
  margin-top: 15px;
}

.alert {
  background-color: #FFEB3B;
}

.ignore {
  background-color: #9E9E9E
}

.example-card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 16px;
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://us.hikvision.com/sites/default/files/styles/zoom600/public/ds-2cd23xxg0-i_front_0.png?itok=taMEQFB4');
  background-size: cover;
}

.sample-image{
  background-size: cover;
}