<h1 i18n mat-dialog-title>Edit Camera</h1>

<mat-dialog-content class="camera-edit-content">
  <div class="camera-components">
    <app-camera-basic-info
      [camera]="camera"
      (cameraChange)="onCameraChange($event)" />

    <app-camera-openalpr
      [camera]="camera"
      (cameraChange)="onCameraChange($event)"
      (editMask)="onEditMask()" />

    <app-camera-overlay
      [camera]="camera"
      (cameraChange)="onCameraChange($event)"
      (testOverlay)="onTestOverlay()" />

    <app-camera-daynight
      [camera]="camera"
      [currentZoomFocus]="currentZoomFocus"
      (cameraChange)="onCameraChange($event)"
      (currentZoomFocusChange)="onCurrentZoomFocusChange($event)"
      (triggerDayMode)="onTriggerDayMode()"
      (triggerNightMode)="onTriggerNightMode()"
      (getZoomFocus)="onGetZoomFocus()"
      (setZoomFocus)="onSetZoomFocus()"
      (triggerAutofocus)="onTriggerAutofocus()" />
  </div>
</mat-dialog-content>

<div mat-dialog-actions align="end" i18n-align class="dialog-actions">
  <button i18n mat-raised-button (click)="onCancel()" color="basic" [disabled]="isSaving">Cancel</button>
  <app-refresh-button
    i18n-buttonText="@@save-changes"
    buttonText="Save Changes"
    i18n-buttonRefreshingText="@@saving-camera"
    buttonRefreshingText="Saving..."
    buttonType="raised"
    color="primary"
    [isLoading]="isSaving"
    (refreshStarted)="onSave()" />
</div>