<h1 i18n mat-dialog-title>Edit Camera</h1>

<mat-dialog-content class="camera-edit-content">
  <div class="camera-components">
    <app-camera-basic-info
      [camera]="camera"
      (cameraChange)="onCameraChange($event)" />

    <app-camera-openalpr
      [camera]="camera"
      (cameraChange)="onCameraChange($event)"
      (editMask)="onEditMask()" />

    <app-camera-overlay
      [camera]="camera"
      (cameraChange)="onCameraChange($event)"
      (testOverlay)="onTestOverlay()" />

    <app-camera-daynight
      [camera]="camera"
      [currentZoomFocus]="currentZoomFocus"
      (cameraChange)="onCameraChange($event)"
      (currentZoomFocusChange)="onCurrentZoomFocusChange($event)"
      (triggerDayMode)="onTriggerDayMode()"
      (triggerNightMode)="onTriggerNightMode()"
      (getZoomFocus)="onGetZoomFocus()"
      (setZoomFocus)="onSetZoomFocus()"
      (triggerAutofocus)="onTriggerAutofocus()" />
  </div>
</mat-dialog-content>

<div mat-dialog-actions align="end" i18n-align class="dialog-actions">
  <button i18n mat-raised-button (click)="onCancel()" color="basic">Cancel</button>
  <button i18n mat-raised-button (click)="onSave()" cdkFocusInitial color="primary">Save Changes</button>
</div>