<div style="display: flex; flex-direction: row; justify-content: space-around; padding-top: 16px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        @if (isAddMode) {
          <h1 i18n>Add User</h1>
        }
        @if (!isAddMode) {
          <h1 i18n>Edit User</h1>
        }
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="fill" i18n-appearance MatFormFieldControl="MatInputHarness" i18n-MatFormFieldControl>
            <mat-label i18n>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" i18n-appearance MatFormFieldControl="MatInputHarness" i18n-MatFormFieldControl>
            <mat-label i18n>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" i18n-appearance MatFormFieldControl="MatInputHarness" i18n-MatFormFieldControl>
            <mat-label i18n>Username</mat-label>
            <input matInput type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" i18n-appearance MatFormFieldControl="MatInputHarness" i18n-MatFormFieldControl>
            <mat-label i18n>Password</mat-label>
            <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button i18n mat-button color="primary" [disabled]="loading">Save</button>
      <button i18n mat-button routerLink="/users">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>