<!-- Sticky Filter Bar -->
<div class="filter-bar">
  <mat-card class="filter-card">
    <mat-card-content class="filter-content">
      <!-- Primary Filter Row -->
      <div class="primary-filter-row">
        <div class="primary-inputs">
          <mat-form-field class="date-range-field">
            <mat-label i18n>Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [max]="todaysDate()">
              <input matStartDate [(ngModel)]="plateFilters().startDate" (ngModelChange)="onStartDateChange()" (keyup.enter)="onSearch()" placeholder="Start" i18n-placeholder>
              <input matEndDate [(ngModel)]="plateFilters().endDate" (ngModelChange)="onEndDateChange()" (keyup.enter)="onSearch()" placeholder="End" i18n-placeholder>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" />
            <mat-date-range-picker #picker />
          </mat-form-field>
          
          <mat-form-field class="plate-field">
            <mat-label i18n>Plate Number</mat-label>
            <input matInput
              [(ngModel)]="plateFilters().plateNumber"
              (keyup.enter)="onSearch()"
              (input)="validateSearchPlateNumber(); onFilterChange()"
              placeholder="LRN2DRV" i18n-placeholder />
          </mat-form-field>
        </div>

        <div class="primary-actions">
          <app-refresh-button
            [disabled]="isSearchDisabled"
            [isLoading]="isSearching()"
            [fullWidth]="isMobile"
            buttonType="raised"
            buttonText="Search"
            buttonRefreshingText="Searching..."
            color="primary"
            icon="directions_run"
            (refreshStarted)="onSearch()" />
          <button mat-raised-button
            color="warn"
            (click)="onClear()"
            [class.full-width]="isMobile">
            <mat-icon>clear</mat-icon>
            <span i18n>Clear</span>
          </button>
          <button mat-icon-button
            (click)="onToggleAdvanced()"
            [class.expanded]="showAdvancedFilters"
            class="expand-btn"
            matTooltip="Advanced Filters" i18n-matTooltip>
            <mat-icon>{{showAdvancedFilters ? 'expand_less' : 'expand_more'}}</mat-icon>
          </button>
        </div>
      </div>

      <div class="advanced-filters" [class.expanded]="showAdvancedFilters" [class.collapsed]="!showAdvancedFilters">
          <mat-form-field>
            <mat-label i18n>Camera</mat-label>
            <input matInput [formControl]="cameraControl" [matAutocomplete]="cameraAuto" placeholder="Type to search cameras">
            <mat-autocomplete #cameraAuto="matAutocomplete">
              @for (camera of filteredCameras$ | async; track camera) {
                <mat-option [value]="camera">{{camera}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label i18n>Vehicle Make</mat-label>
            <input matInput [formControl]="vehicleMakeControl" [matAutocomplete]="makeAuto" placeholder="Type to search makes">
            <mat-autocomplete #makeAuto="matAutocomplete">
              @for (make of filteredMakes$ | async; track make) {
                <mat-option [value]="make">{{make}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label i18n>Vehicle Model</mat-label>
            <input matInput 
              [formControl]="vehicleModelControl" 
              [matAutocomplete]="modelAuto" 
              [disabled]="isModelDisabled"
              placeholder="Select a make first">
            <mat-autocomplete #modelAuto="matAutocomplete">
              @for (model of filteredModels$ | async; track model) {
                <mat-option [value]="model">{{model}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label i18n>Type</mat-label>
            <input matInput [formControl]="vehicleTypeControl" [matAutocomplete]="typeAuto" placeholder="Type to search types">
            <mat-autocomplete #typeAuto="matAutocomplete">
              @for (type of filteredTypes$ | async; track type) {
                <mat-option [value]="type">{{type}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label i18n>Color</mat-label>
            <input matInput [formControl]="vehicleColorControl" [matAutocomplete]="colorAuto" placeholder="Type to search colors">
            <mat-autocomplete #colorAuto="matAutocomplete">
              @for (color of filteredColors$ | async; track color) {
                <mat-option [value]="color">{{color}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n>Region</mat-label>
            <input matInput [formControl]="vehicleRegionControl" [matAutocomplete]="regionAuto" placeholder="Type to search regions">
            <mat-autocomplete #regionAuto="matAutocomplete">
              @for (region of filteredRegions$ | async; track region) {
                <mat-option [value]="region">{{region}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        
        <div class="checkbox-filters">
          <mat-checkbox
            [(ngModel)]="plateFilters().includeIgnoredPlates"
            color="primary">Include Ignored</mat-checkbox>
          <mat-checkbox
            [(ngModel)]="plateFilters().regexSearchEnabled"
            color="primary">Regex Search</mat-checkbox>
          <mat-checkbox
            [(ngModel)]="plateFilters().platesSeenLessThan"
            color="primary">Plates Seen Less Than 10 Times</mat-checkbox>
        </div>

        @if (showRegexError) {
          <mat-error i18n>Invalid regex pattern</mat-error>
        }
        @if (showSearchError) {
          <mat-error i18n>Invalid search term</mat-error>
        }
        @if (showDateRangeError) {
          <mat-error i18n>End date must be after start date</mat-error>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>