<h1 mat-dialog-title>Edit Camera</h1>
<mat-dialog-content fxLayout="row wrap" fxLayoutGap=20px>
    <mat-form-field appearance="outline">
      <mat-label>Manufacturer</mat-label>
      <mat-select matInput [(ngModel)]="camera.manufacturer" required>
        <mat-option value="Hikvision">Hikvision</mat-option>
        <mat-option value="Dahua">Dahua</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Model Number</mat-label>
      <input matInput [(ngModel)]="camera.modelNumber" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>OpenALPR Name</mat-label>
      <input matInput [(ngModel)]="camera.openAlprName" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>OpenALPR Id</mat-label>
      <input type="number" matInput [(ngModel)]="camera.openAlprCameraId" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Camera Username</mat-label>
      <input matInput [(ngModel)]="camera.cameraUsername" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Camera Password</mat-label>
      <input matInput [(ngModel)]="camera.cameraPassword" [type]="hidePassword ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </mat-dialog-content>
  <h2 mat-dialog-title>Overlays<mat-slide-toggle style="padding-left:16px;" [(ngModel)]="camera.updateOverlayEnabled"></mat-slide-toggle></h2>
  <mat-dialog-content
    fxLayout="row wrap"
    fxLayoutGap=20px
    *ngIf="camera.updateOverlayEnabled"
    [@inOutAnimation]>
    <mat-form-field fxFlex="100" appearance="outline">
      <mat-label>Camera Overlay Text Url</mat-label>
      <input matInput [(ngModel)]="camera.updateOverlayTextUrl" required>
    </mat-form-field>
  </mat-dialog-content>
  <h2 mat-dialog-title>Day/Night Toggle<mat-slide-toggle style="padding-left:16px;" [(ngModel)]="camera.dayNightModeEnabled"></mat-slide-toggle></h2>
  <mat-dialog-content
    fxLayout="row wrap"
    fxLayoutGap=20px
    *ngIf="camera.dayNightModeEnabled"
    [@inOutAnimation]>
    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input type="number" matInput [(ngModel)]="camera.latitude" placeholder="defaults to agent's GPS if blank">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input type="number" matInput [(ngModel)]="camera.longitude" placeholder="defaults to agent's GPS if blank">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sunset Hours Offset (+/-)</mat-label>
      <input type="number" matInput [(ngModel)]="camera.sunsetOffset">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sunrise Hours Offset (+/-)</mat-label>
      <input type="number" matInput [(ngModel)]="camera.sunriseOffset">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Timezone Offset (+/-)</mat-label>
      <input type="number" matInput [(ngModel)]="camera.timezoneOffset">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
      <mat-label>Camera Day/Night Mode Url</mat-label>
      <input matInput [(ngModel)]="camera.dayNightModeUrl">
    </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Save</button>
</div>
