<mat-sidenav-container class="example-container">
	<mat-sidenav mode="side" opened
	[fixedInViewport]="false"
	[fixedTopGap]="0"
	[fixedBottomGap]="0">
		<mat-nav-list>
			<mat-list-item (click)="openSettings('camera')">
				<span class="mobile-shrink">Cameras</span>
				<mat-icon mat-list-icon>videocam</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('agent')">
				<span class="mobile-shrink">OpenALPR Watchman Agent</span>
				<mat-icon mat-list-icon>api</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('alert')">
				<span class="mobile-shrink">Alerts</span>
				<mat-icon mat-list-icon>notifications_active</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('ignore')">
				<span class="mobile-shrink">Ignores</span>
				<mat-icon mat-list-icon>alarm_off</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('tags')">
				<span class="mobile-shrink">Tags</span>
				<mat-icon mat-list-icon>sell</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('forwards')">
				<span class="mobile-shrink">Webhook Forwards</span>
				<mat-icon mat-list-icon>forward_to_inbox</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="openSettings('logs')">
				<span class="mobile-shrink">System Logs</span>
				<mat-icon mat-list-icon>library_books</mat-icon>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content fullscreen>
        <app-cameras *ngIf="visibleSetting == 'camera'"></app-cameras>
        <app-openalpr-webserver *ngIf="visibleSetting == 'webserver'"></app-openalpr-webserver>
		<app-openalpr-agent *ngIf="visibleSetting == 'agent'"></app-openalpr-agent>
		<app-ignores *ngIf="visibleSetting == 'ignore'"></app-ignores>
		<app-alerts *ngIf="visibleSetting == 'alert'"></app-alerts>
		<app-forwards *ngIf="visibleSetting == 'forwards'"></app-forwards>
		<app-logs *ngIf="visibleSetting == 'logs'"></app-logs>
		<app-tags *ngIf="visibleSetting == 'tags'"></app-tags>
	</mat-sidenav-content>

</mat-sidenav-container>
