<div class="dashboard-container">
  <!-- Quick Stats Section -->
  <section class="stats-section">
    <app-quick-stats 
      [quickStats]="quickStats"
      [isLoadingStats]="isLoadingStats"
      [quickStatCols]="quickStatCols" />
  </section>

  <!-- Charts Section -->
  <section class="charts-section">
    <app-charts [isLoadingCharts]="isLoadingCharts" />
  </section>

  <!-- Predictions and Most Seen Section -->
  <section class="predictions-and-insights-section">
    <app-predictions-section 
      [nextExpected]="nextExpected"
      [upcomingPredictions]="upcomingPredictions"
      [predictablePlates]="predictablePlates"
      [isLoadingPredictions]="isLoadingPredictions" />
    <app-most-seen-plates [mostSeenCounts]="mostSeenCounts" />
  </section>
</div>
