<div class="mobilePlateContainer" style="display: flex; flex-wrap: wrap;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title i18n>Images</mat-card-title>
      <mat-card-subtitle i18n>Plate and Vehicle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (loadingVehicleImage) {
        <mat-progress-spinner
          color="primary"
          mode="indeterminate" i18n-mode
          diameter="100"
        />
      }
      <img [src]="this.vehicleImageUrl"
        class="resize-mobile"
        style="cursor: pointer;"
        alt="image of the vehicle" i18n-alt
        tabindex="0"
        [hidden]="loadingVehicleImage || loadingVehicleImageFailed"
        (load)="vehicleImageLoaded()"
        (error)="vehicleImageFailedToLoad()"
        (click)="openLightbox(plate.imageUrl, plate.plateNumber)"
        (keydown)="openLightbox(plate.imageUrl, plate.plateNumber)" />
        @if (!this.vehicleImageUrl|| loadingVehicleImageFailed) {
          <mat-icon i18n style="font-size: 100px; line-height: normal;"
            [inline]="true"
          matTooltip="Unable to retrieve image from agent" i18n-matTooltip>help_center</mat-icon>
        }
        @if (loadingPlateImage) {
          <mat-progress-spinner
            color="primary"
            mode="indeterminate" i18n-mode
            diameter="100" />
        }
        <img [src]="this.plateImageUrl"
          class="resize-mobile"
          style="width: 500px; padding-top:16px;"
          alt="image of the vehicle's license plate" i18n-alt
          [hidden]="loadingPlateImage || loadingPlateImageFailed"
          (load)="plateImageLoaded()"
          (error)="plateImageFailedToLoad()" />
          @if (!this.plateImageUrl || loadingPlateImageFailed) {
            <mat-icon i18n style="font-size: 100px; line-height: normal;"
              [inline]="true"
            matTooltip="Unable to retrieve image from agent" i18n-matTooltip>help_center</mat-icon>
          }
        </mat-card-content>
      </mat-card>
      <app-plate-statistics [plate]="plate" [isVisible]="isVisible" class="example-card" />
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title i18n>Notes</mat-card-title>
          <mat-card-subtitle>{{plate.plateNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
          <mat-form-field style="width: 100%;" appearance="fill" i18n-appearance>
            <textarea [cdkTextareaAutosize]="true" matInput [(ngModel)]="plate.notes"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end" i18n-align>
          <button i18n mat-raised-button
            style="margin: 8px 8px 8px 0;"
            color="primary"
            [disabled]="isSavingNotes"
            (click)="saveNotes()"
          [class.spinner]="isSavingNotes">Save</button>
          <button i18n mat-raised-button color="warn"
            (click)="clearNotes()"
          style="margin: 8px 8px 8px 0;">Clear</button>
        </mat-card-actions>
      </mat-card>
    </div>