<mat-card style="margin:16px;" *ngIf="client">
  <mat-card-header style="justify-content: space-between;">
    <mat-card-title>WebPush</mat-card-title>
    <mat-card-subtitle>Native Browser & Mobile notifications</mat-card-subtitle>
    <mat-slide-toggle style="padding-top: 10px;"
                      [(ngModel)]="client.isEnabled"
                      (change)="onWebPushToggle($event)"></mat-slide-toggle>
  </mat-card-header>
  <mat-card-content *ngIf="client.isEnabled" [@inOutAnimation]>
    <div style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput [(ngModel)]="client.emailAddress">
        <mat-icon matTooltip="Email address associated with the given credentials" style="cursor:default" matSuffix>help_center</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Public Key</mat-label>
        <input matInput readonly [(ngModel)]="client.publicKey">
        <mat-icon matTooltip="The public key used for decrypting Web Push notifications." style="cursor:default" matSuffix>help_center</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Private Key</mat-label>
        <input matInput readonly
          [(ngModel)]="client.privateKey"
          [type]="hidePrivateKey ? 'password' : 'text'">
        <button mat-icon-button matSuffix
          (click)="hidePrivateKey = !hidePrivateKey"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePrivateKey"
          matTooltip="The private key used for encrypting Web Push notifications.">
          <mat-icon>{{hidePrivateKey ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <mat-checkbox [(ngModel)]="client.sendEveryPlateEnabled">Send Alerts for every plate</mat-checkbox>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="client.isEnabled" [@inOutAnimation]>
    <button mat-raised-button (click)="testClient();" [disabled]="isTesting">
      <span *ngIf="isTesting" class="spinner-border spinner-border-sm mr-1"></span>
      Test
    </button>
    <button mat-raised-button color="primary" (click)="saveClient();" [disabled]="isSaving" btn-primary>
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
  </mat-card-actions>
</mat-card>
