<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>anchor</mat-icon>
    </button>
    <span>OpenALPR Webhook Processor</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="" aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Get help">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Get help">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>