<div class="plates-container">
  <app-plate-filters
    [todaysDate]="todaysDate"
    [cameras]="cameras"
    [vehicleFilters]="vehicleFilters"
    [showAdvancedFilters]="showAdvancedFilters"
    [isSearching]="isLoading"
    (filtersChanged)="onFiltersChanged($event)"
    (searchTriggered)="onSearchTriggered()"
    (filtersCleared)="onFiltersCleared()"
    (advancedFiltersToggled)="onAdvancedFiltersToggled()"
  />

  <app-plate-list
    [plates]="plates"
    [isLoading]="isLoading"
    [pageSize]="pageSize"
    [totalNumberOfPlates]="totalNumberOfPlates"
    (plateOpened)="onPlateOpened($event)"
    (plateClosed)="onPlateClosed($event)"
    (enrichPlate)="onEnrichPlate($event)"
    (editPlate)="onEditPlate($event)"
    (alertPlate)="onAlertPlate($event)"
    (ignorePlate)="onIgnorePlate($event)"
    (searchForPlate)="onSearchForPlate($event)"
    (paginatorChange)="onPaginatorChange($event)"
  />
</div>