<div class="plates-container">
  @if (hasVehicleFiltersData) {
    <app-plate-filters
      [todaysDate]="todaysDate"
      [(plateFilters)]="plateFilters"
      [vehicleFilters]="vehicleFilters"
      [isSearching]="isLoading"
      (searchTriggered)="onSearchTriggered()" />
  }

  <app-plate-list
    [plates]="plates"
    [isLoading]="isLoading"
    [pageSize]="pageSize"
    [totalNumberOfPlates]="totalNumberOfPlates"
    (plateOpened)="onPlateOpened($event)"
    (plateClosed)="onPlateClosed($event)"
    (enrichPlate)="onEnrichPlate($event)"
    (editPlate)="onEditPlate($event)"
    (alertPlate)="onAlertPlate($event)"
    (ignorePlate)="onIgnorePlate($event)"
    (searchForPlate)="onSearchForPlate($event)"
    (paginatorChange)="onPaginatorChange($event)" />
</div>