<div style="margin:16px;" fxLayout="row wrap" fxLayout="row wrap" fxLayoutGap=20px *ngIf="agent">
    <mat-form-field fxFlex="80">
        <mat-label>Endpoint Url</mat-label>
        <input matInput [(ngModel)]="agent.endpointUrl" placeholder="http(s)://x.x.x.x/webhook">
        <mat-icon matTooltip="The URL used to reach the Watchman Agent" style="cursor:default" matSuffix>help_center</mat-icon>
    </mat-form-field>
    <mat-form-field fxFlex="80">
        <mat-label>Hostname</mat-label>
        <input matInput maxlength="12" #input [(ngModel)]="agent.hostname" placeholder="56ygf6e34879">
        <mat-icon matTooltip="From the OpenALPR web server agent configuration page" style="cursor:default" matSuffix>help_center</mat-icon>
        <mat-hint align="end">{{input.value?.length || 0}}/12</mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex="80">
        <mat-label>Uid</mat-label>
        <input matInput [(ngModel)]="agent.uid" maxlength="40" placeholder="U8HGWA66CW58AV9Q7YB4JJ749CV7WXNQLLNIBT4N">
        <mat-icon matTooltip="From the OpenALPR web server agent configuration page" style="cursor:default" matSuffix>help_center</mat-icon>
        <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex="80">
        <mat-label>OpenAlpr Web Server API Key</mat-label>
        <mat-icon matTooltip="From the OpenALPR user profile configuration page (top left corner of site)" style="cursor:default" matSuffix>help_center</mat-icon>
        <input matInput [(ngModel)]="agent.openAlprWebServerApiKey" maxlength="40" placeholder="U8HGWA66CW58AV9Q7YB4JJ749CV7WXNQLLNIBT4N">
        <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex="80">
        <mat-label>OpenAlpr Web Server Url</mat-label>
        <mat-icon matTooltip="The URL used to reach the OpenALPR server. Usually just https://cloud.openalpr.com" style="cursor:default" matSuffix>help_center</mat-icon>
        <input matInput [(ngModel)]="agent.openAlprWebServerUrl" placeholder="https://cloud.openalpr.com/">
    </mat-form-field>
    <mat-form-field fxFlex="80">
        <mat-label>Version</mat-label>
        <mat-icon matTooltip="The version of the Watchman Agent running" style="cursor:default" matSuffix>help_center</mat-icon>
        <input matInput [(ngModel)]="agent.version" placeholder="2.8.101">
    </mat-form-field>
    <button mat-raised-button color="primary" fxFlex="80" [disabled]="isSaving" (click)="saveAgent()">Save</button>
</div>