<mat-card class="example-card" *ngIf="camera.id">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{camera.ipAddress}}</mat-card-title>
      <mat-card-subtitle>{{camera.manufacturer}} {{camera.modelNumber}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="height:200px;" fxLayoutAlign="center">
            <div [hidden]="!isLoadingImage">
                <mat-progress-spinner
                    style="margin-top: 50%;"
                    color="primary"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <img
                mat-card-image
                class="sample-image"
                src="{{camera.sampleImageUrl}}"
                *ngIf="camera.sampleImageUrl"
                [hidden]="isLoadingImage || isLoadingFailed"
                (load)="imageLoaded()"
                (error)="imageFailedToLoad()"
                alt="last capture from camera">
            <div *ngIf="!camera.sampleImageUrl || isLoadingFailed" class="sample-image">
                <mat-icon
                    style="font-size: 100px;"
                    [inline]="true"
                    matTooltip="Image will display after first plate capture">help_center</mat-icon>
            </div>
        </div>
        <div>
            <b>Camera Manufacturer: </b> {{camera.manufacturer}}
        </div>
        <div *ngIf="camera.updateOverlayEnabled">
            <div>
                <b>OpenALPR Name:</b> {{camera.openAlprName}}
            </div>
            <div>
                <b>Plates Seen:</b> {{camera.platesSeen}}
            </div>
        </div>
        <div *ngIf="camera.dayNightModeEnabled">
            <div>
                <b>Coordinates:</b> {{camera.latitude}}°, {{camera.longitude}}°
            </div>
            <div>
                <b>Next Day/Night Toggle:</b> {{camera.dayNightNextScheduledCommand }}
            </div>
            
        </div>
    </mat-card-content>
    <mat-card-actions align="end" style="margin: auto 0 0;">
        <button mat-button (click)="editCamera()">Edit</button>
        <button mat-button (click)="removeCamera()" color="warn">Remove</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card" *ngIf="!camera.id">
    <mat-card-header fxLayoutAlign="center">
        <mat-card-title>Add new camera</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
        <div style="height:200px;" fxLayoutAlign="center">
            <mat-icon
                (click)="addCamera()"
                color="primary"
                style="font-size: 100px; cursor: pointer; margin: 50%;"
                [inline]="true">add_box</mat-icon>
        </div>
    </mat-card-content>
</mat-card>