<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-brand"><mat-icon aria-hidden="false" aria-label="vehicle direction">anchor</mat-icon> OpenALPR Webhook Processor</div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" [disabled]="hydrationInProgress" (click)="hydrate()">Hydrate Database</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <div class="navbar-nav ml-auto">
        <app-fast-search></app-fast-search>
    </div>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
