<nav mat-tab-nav-bar *ngIf="user" [selectedIndex]="1">
    <a mat-tab-link routerLink="/"><mat-icon>anchor</mat-icon>OpenALPR Webhook Processor</a>
    <a mat-tab-link routerLink="/" ><mat-icon>home</mat-icon>Home</a>
    <a mat-tab-link routerLink="/plates"><mat-icon>crop_16_9</mat-icon>Plates</a>
    <a mat-tab-link routerLink="/users"><mat-icon>account_box</mat-icon>Users</a>
    <a mat-tab-link routerLink="/settings"><mat-icon>settings</mat-icon>Settings</a>
    <a mat-tab-link routerLink="/logout" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

