@if (enricher) {
  <div style="display: flex; margin:16px;">
    <mat-card>
      <mat-card-header>
        <mat-card-title i18n>LicensePlateData API</mat-card-title>
        <mat-card-subtitle i18n>https://licenseplatedata.com/</mat-card-subtitle>
        <mat-slide-toggle
          style="padding-left:15px;"
          [(ngModel)]="enricher.isEnabled"
        (change)="onEnricherToggle($event)" />
      </mat-card-header>
      @if (enricher.isEnabled) {
        <mat-card-content [@inOutAnimation]>
          <div>
            <mat-form-field>
              <mat-label i18n>API Key</mat-label>
              <input matInput [(ngModel)]="enricher.apiKey">
              <mat-icon i18n matTooltip="The LicensePlateData API key, provided via email from provider." i18n-matTooltip style="cursor:default" matSuffix>help_center</mat-icon>
            </mat-form-field>
            <mat-radio-group [(ngModel)]="enricher.enrichmentType" aria-label="Enrichment type" i18n-aria-label style="display: flex; flex-direction: column;">
              <mat-radio-button i18n value="Always">Enrich every plate</mat-radio-button>
              <mat-radio-button i18n value="OnlyAtNight">Enrich plates during night mode</mat-radio-button>
              <mat-radio-button i18n value="Manually">Only enrich manually</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      }
      @if (enricher.isEnabled) {
        <mat-card-actions align="end" i18n-align [@inOutAnimation]>
          <button i18n mat-raised-button (click)="testEnricher();" [disabled]="isTesting">
            @if (isTesting) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Test
          </button>
          <button i18n style="margin-left: 15px;" mat-raised-button color="primary" (click)="saveEnricher();" [disabled]="isSaving" btn-primary>
            @if (isSaving) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Save
          </button>
        </mat-card-actions>
      }
    </mat-card>
  </div>
}
