
<mat-form-field class="input">
    <mat-label>Plate Number</mat-label>
    <input matInput [(ngModel)]="ignore.plateNumber" required>
</mat-form-field>
<mat-form-field class="input">
    <mat-label>Strict Matching</mat-label>
    <mat-select matInput [(ngModel)]="ignore.strictMatch" required>
      <mat-option value="True">Strict</mat-option>
      <mat-option value="False">Lenient</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button (click)="deleteIgnore(ignore)">Delete</button>