<h1 mat-dialog-title>Edit Plate</h1>
<mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutGap=20px>
        <mat-form-field appearance="outline">
            <mat-label>Plate Number</mat-label>
            <input matInput [(ngModel)]="plate.plateNumber" required>
        </mat-form-field>
    </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Save</button>
  </div>