@if (client) {
  <mat-card style="margin:16px;">
    <mat-card-header style="justify-content: space-between;">
      <mat-card-title i18n>WebPush</mat-card-title>
      <mat-card-subtitle i18n>Native Browser & Mobile notifications</mat-card-subtitle>
      <mat-slide-toggle style="padding-top: 10px;"
        [(ngModel)]="client.isEnabled"
      (change)="onWebPushToggle($event)" />
    </mat-card-header>
    @if (client.isEnabled) {
      <mat-card-content [@inOutAnimation]>
        <div style="display: flex; flex-direction: column;">
          <mat-form-field>
            <mat-label i18n>Email Address</mat-label>
            <input matInput [(ngModel)]="client.emailAddress">
            <mat-icon i18n matTooltip="Email address associated with the given credentials" i18n-matTooltip style="cursor:default" matSuffix>help_center</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Public Key</mat-label>
            <input matInput readonly [(ngModel)]="client.publicKey">
            <mat-icon i18n matTooltip="The public key used for decrypting Web Push notifications." i18n-matTooltip style="cursor:default" matSuffix>help_center</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Private Key</mat-label>
            <input matInput readonly
              [(ngModel)]="client.privateKey"
              [type]="hidePrivateKey ? 'password' : 'text'">
              <button mat-icon-button matSuffix
                (click)="hidePrivateKey = !hidePrivateKey"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePrivateKey"
                matTooltip="The private key used for encrypting Web Push notifications." i18n-matTooltip>
                <mat-icon>{{hidePrivateKey ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-checkbox i18n [(ngModel)]="client.sendEveryPlateEnabled">Send Alerts for every plate</mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      }
      @if (client.isEnabled) {
        <mat-card-actions align="end" i18n-align [@inOutAnimation]>
          <button i18n mat-raised-button (click)="testClient();" [disabled]="isTesting">
            @if (isTesting) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Test
          </button>
          <button i18n mat-raised-button color="primary" (click)="saveClient();" [disabled]="isSaving" btn-primary>
            @if (isSaving) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Save
          </button>
        </mat-card-actions>
      }
    </mat-card>
  }
