@if (client) {
  <mat-card style="margin:16px;">
    <mat-card-header style="justify-content: space-between;">
      <mat-card-title i18n>WebPush</mat-card-title>
      <mat-card-subtitle i18n>Native Browser & Mobile notifications</mat-card-subtitle>
      <mat-slide-toggle style="padding-top: 10px;"
        [(ngModel)]="client.isEnabled"
      (change)="onWebPushToggle($event)" />
    </mat-card-header>
    @if (client.isEnabled) {
      <mat-card-content [@inOutAnimation]>
        <div style="display: flex; flex-direction: column;">
          <mat-form-field>
            <mat-label i18n>Email Address</mat-label>
            <input matInput [(ngModel)]="client.emailAddress">
            <mat-icon i18n matTooltip="Email address associated with the given credentials" i18n-matTooltip style="cursor:default" matSuffix>help_center</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Public Key</mat-label>
            <input matInput readonly [(ngModel)]="client.publicKey">
            <mat-icon i18n matTooltip="The public key used for decrypting Web Push notifications." i18n-matTooltip style="cursor:default" matSuffix>help_center</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Private Key</mat-label>
            <input matInput readonly
              [(ngModel)]="client.privateKey"
              [type]="hidePrivateKey ? 'password' : 'text'">
              <button mat-icon-button matSuffix
                (click)="hidePrivateKey = !hidePrivateKey"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePrivateKey"
                matTooltip="The private key used for encrypting Web Push notifications." i18n-matTooltip>
                <mat-icon>{{hidePrivateKey ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-checkbox i18n [(ngModel)]="client.sendEveryPlateEnabled">Send Alerts for every plate</mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      }
      @if (client.isEnabled) {
        <mat-card-actions align="end" i18n-align [@inOutAnimation]>
          <app-refresh-button
            [isLoading]="isTesting"
            [disabled]="isTesting || isSaving"
            icon="science"
            buttonType="raised"
            buttonText="Test"
            buttonRefreshingText="Testing..."
            color="accent"
            (refreshStarted)="testClient()" />

          <app-refresh-button
            [isLoading]="isSaving"
            [disabled]="isTesting || isSaving"
            icon="save"
            buttonType="raised"
            buttonText="Save"
            buttonRefreshingText="Saving..."
            color="primary"
            (refreshStarted)="saveClient()"
            type="submit" />
        </mat-card-actions>
      }
    </mat-card>
  }
