.example-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 750px)  {
    .mobile-shrink {
      display: none;
    }
    aside { display: none; }
    article { width: 100%; }
  } 