<div style="margin: 15px;">
    <table mat-table [dataSource]="forwards" multiTemplateDataRows class="mat-elevation-z8" style="width:50%">
      <ng-container matColumnDef="destination" i18n-matColumnDef>
        <th i18n mat-header-cell *matHeaderCellDef>Destination</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.destination" required>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="forwardSinglePlates" i18n-matColumnDef>
        <th i18n mat-header-cell *matHeaderCellDef>Forward Single Plate Webhooks</th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.forwardSinglePlates" />
        </td>
      </ng-container>

      <ng-container matColumnDef="forwardGroupPreviews" i18n-matColumnDef>
        <th i18n mat-header-cell *matHeaderCellDef>Forward Group Preview Webhooks</th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.forwardGroupPreviews" />
        </td>
      </ng-container>

      <ng-container matColumnDef="forwardGroups" i18n-matColumnDef>
        <th i18n mat-header-cell *matHeaderCellDef>Forward Group Webhooks</th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.forwardGroups" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="ignoreSslErrors" i18n-matColumnDef>
        <th i18n mat-header-cell *matHeaderCellDef>Ignore Ssl Errors</th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.ignoreSslErrors" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete" i18n-matColumnDef>
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button i18n mat-raised-button color="warn" (click)="deleteForward(element)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="rowsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: rowsToDisplay;">
      </tr>
    </table>
  </div>
  <div style="margin: 15px;">
    <button i18n mat-raised-button color="primary" (click)="addForward()" style="margin: 15px;">Add</button>
    <button i18n mat-raised-button color="primary" [class.spinner]="isSaving" [disabled]="isSaving" (click)="saveForwards()">Save</button>
  </div>